.vs/*
.vscode/*
.idea/*
obj/*
bin/*
Communication/obj/*
Communication/bin/*
Core/obj/*
Core/bin/*
Helpers/obj/*
Helpers/bin/*
Logging/obj/*
Logging/bin/*
MainProgram/obj/*
MainProgram/bin/*
Rules/obj/*
Rules/bin/*
Tests/obj/*
Tests/bin/*
